.rouge {
  color: rgb(255, 0, 0);
  /* équivalent à
  color: blue;
  color: #0000ff;
  color: #00f;
  color: hsl(0, 100%, 50%); */
}

.orange {
  color: rgb(255, 136, 0);;
  /* on pourrait aussi utiliser
  color: rgb(255, 128, 0); */
}
.gris{
  color: gray
}


.marron {
  background-color: #6a2525;
}
p, 
ul {
  border: 1px solid gray;
  padding: .10em;


